h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #cfcfcf;
}

a {
  text-decoration: none;
  color: black;
}

.posts-wrapper {
  width: 60vw;
  margin: 1rem auto;
  padding: 10px;
  /* background: #ffffff; */
}

.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  margin: 5px;

  /* align-items: center; */
}

/* On mouse-over, add a deeper shadow */
.post:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.post-score {
  background-color: yellow;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  padding: 5px;
  font-size: 1.2rem;
}

.post-content {
  padding: 10px;
  text-align: left;
  background-color: #e9e9e9;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.post-title {
  /* color: blue; */
  font-size: 1rem;
}

.post-labels {
  font-size: 0.7rem;
  color: #707070;
}
